/* =============
    section-2
============= */

#section-2{
    img{
        width: 100%;
        display:inline-block;
        *display:inline;zoom:1;
        margin:0px;outline:none;
        vertical-align: top;
    }
    #text{
        background-color: black;
        padding-top: 30px;
        padding-bottom: 30px;
        h1{
            text-align: center;
            color: white;
        }
        h2{
            text-align: center;
            background-clip: padding-box;
            background-color: $red;
            width: 525px;
            height: 38px;
            margin-left: 440px;
            margin-top: 10px;
            padding-top: 10px;
        }
    }
}