/* =============
    section1
============= */

#section-1{
    background-color: $red;
    
    #section-1-container{
        background-image: url("../img/section-1/LionsDen.png");
        background-repeat: no-repeat;
        background-size: 265px;
        padding: 35px;
        padding-left: 400px;
                
        section{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "img" "h1" "h2" "h3" "h4";
            
            h1,h2,h3,h4{
                padding-top: 5px;
            }    
        }        
    }
} 