/* =============
    Footer
============= */

#footer{
    display: grid;

    section{

        div{
            background-color: black;
            height: 140.5px;
            margin: 0;
            
            h1{
                line-height: 200px;
                text-align: center;
            }
        }
        #redbox{
            padding-top: 20px;
            h2{
                display: grid;
                border: solid $red;
                background-color: $red;
                height: 90px;
                width: 529px;
                margin: auto;
                text-align: center;
                line-height: 95px;
                border-radius: 10px;
            }
        }
    }
}